In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Uploading and analyzing data

In [11]:
df = pd.read_parquet('../train-00000-of-00001.parquet')

In [13]:
df.head(5)

                                                text  label
0  i feel awful about it too because it s my job ...      0
1                              im alone i feel awful      0
2  ive probably mentioned this before but i reall...      1
3           i was feeling a little low few days back      0
4  i beleive that i am much more sensitive to oth...      2